<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to ProjectPulse, <%=userName%></th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=userName%></p>
                <img src="https://images.unsplash.com/photo-1580191947416-62d35a55e71d?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <p>Thank you for signing up. <br>
                    Enjoy our services with ProjectPulse App.We appreciate your wise decision to be part of us.<br>
                    
                    Welcome onboard!
                </p>
            </td>
        </tr>
    </table>
</body>
</html>